* {
    padding: 0xp;
    margin: 0px;
    box-sizing: border-box;
}

#body {
    font-family: Arial, Helvetica, sans-serif;
}

#navigation {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

#navigation a {
    color: black;
    text-decoration: none;
}

#navigation li {
    margin: 10px;
    font-size: 0.9em;
}

main {
    border: ;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    margin-top: -300px;
}

#searchbar {
    width: 60vh;
    margin: 40px 0px;
    height: 3em;
    border-radius: 20px;
    border: 0.3px solid gray;
    outline: none;
}

.search {
    margin: 0 5px;
    height: 2.8em;
    width: 9em;
    border: none;
    outline: none;
}

.search:hover {
    cursor: pointer;
}

#apps {
    height: 25px;
    width: 25px;
}
