* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    width: 100%;
}

body {
    min-width: 100%;
    width: 100%;
}

ul {
    list-style: none;
}

#navbar {
    text-align: right;
    font-size: 13px;
    margin-top: 15px;
    width: 100%;
}

#navlist {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}

#navbar a:hover {
    text-decoration: underline;
}

.navele {
    margin: 0px 8px;
}

#signin {
    color: #fff;
    border: 1px solid #4285f4;
    background-color: #4285f4;
    outline: none;
    font-weight: bold;
    padding: 0px 12px;
    line-height: 28px;
    margin-right: 30px;
    border-radius: 2px;
}

#signin:hover {
    cursor: pointer;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#logodiv {
    margin-top: 150px;
}

#search {
    width: 582px;
    height: 42px;
    line-height: 42px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 70px;
    margin: 20px 0px;
    padding: 0px 8px 0 16px;
    font-size: 16px;
    font-weight: 100;

}

#search:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

#search:focus {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    outline: none;
    height: 36px;
    min-width: 54px;
    margin: 11px 4px;
    font-size: 14px;
    padding: 0px 16px;
    border-radius: 4px;
    color: #3c4043;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(32,33,36,.28);
}

#menu p {
    line-height: 28px;
    font-size: small;
    text-align: center;
    color: #202124;
    margin-top: 15px;
}

#menu p a:hover {
    text-decoration: underline;
}

#menu a {
    text-decoration: none;
}

#bottom {
    position: absolute;
    bottom: 0%;
    width: 100%;
}

#location {
    font-size: 15px;
    line-height: 40px;
    color: rgba(0,0,0,.54);
    background-color: #f2f2f2;
    width: 100%;
    border-top: 1px solid #dadce0;
}

.location {
    margin-left: 30px;
}

#info {
    line-height: 40px;
    font-size: 14px;
    background-color: #f2f2f2;
    border-top: 1px solid #dadce0;
    display: flex;
    justify-content: space-between;
}

#info a {
    text-decoration: none;
    color: rgba(0,0,0,.54);
}

#info a:hover {
    text-decoration: underline;
}

.first {
    margin-left: 30px;
}

.others {
    margin-left: 23px;
}

.left {
    margin-right: 27px;
}

